site_name: AudioMuse-AI Documentation
docs_dir: web 

site_url: https://neptunehub.github.io/AudioMuse-AI/
repo_url: https://github.com/NeptuneHub/AudioMuse-AI
repo_name: GitHub

use_directory_urls: false # <<<--- ADD THIS LINE to prevent URL doubling and use .html extensions

theme:
  name: readthedocs

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - attr_list
  - md_in_html
