{% if page.multipage.pages.size > 1 %}
<div class="multipage-paging">
    <div>
    {% if page.multipage.previous_page %}
        <a href="{{ site.baseurl }}{{ page.multipage.previous_page.url }}">&laquo; Previous</a>
    {% endif %}
    </div>

    <div>Page {{ page.multipage.current_page_num }} of {{ page.multipage.total_pages }}</div>

    <div>
    {% if page.multipage.next_page %}
        <a href="{{ site.baseurl }}{{ page.multipage.next_page.url }}">Next &raquo;</a>
    {% endif %}
    </div>
</div>
{% endif %}
